@import "./_variable.scss";

#dashboard {
    --mdc-theme-primary: $primary-color;
    width: 100%;
    margin: auto;
    button{
        background: none;
        border: none;
        box-shadow: none;
    }
    
    .bg-color{
        background-color: #46a1de;
        transition-duration: .5s;
    }
    
    .text-color{
        color: #46a1de;
        transition-duration: .5s;
    }
    
    .wrapper{
        min-width: 600px;
        max-width: 900px;
        margin: 0 auto;
    }
    
    .tabs{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        
        .profile-title{
            width: 20%;
            transition-duration: .25s;
            display: table-cell;
            list-style: none;
            text-align: center;
            padding: 20px 20px 25px 20px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            color: white;
            @media screen and (max-width: 760px) {
                width :30%;
            }
            
            &:before{
                z-index: -1;
                position: absolute;
                content: "";
                width: 100%;
                height: 120%;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, .3);
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                transition-duration: .25s;
                border-radius: 5px 5px 0 0;
            }
            
            &:hover{
                &:before{
                    -webkit-transform: translateY(70%);
                    transform: translateY(70%);
                }
            }
            
            &.active{
                color: rgb(80, 85, 90);
                
                &:before{
                    transition-duration: .5s;
                    background-color: white;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
    }
    
    .tab__content{
        background-color: white;
        position: relative;
        width: 100%;
        border-radius: 5px;
        .content__wrapper{
            // text-align: center;
            border-radius: 5px;
            width: 100%;
            padding: 45px 40px 40px 40px;
            background-color: white;
            @media screen and (max-width: 760px) {
                padding: 10px;
            }
        }
    }
}


#create-profile{
    .form-group{
        width: 100%;
        .mdc-floating-label{
            color: $primary-color;
        }
        .profile-form{
            margin: 20px;
            align-self: left;
            width:calc(50% - 40px);
        }
        .profile-form-textarea{
            margin: 20px;
            width:calc(100% - 40px);
        }
    }
}

#profile {
    color: black;
    // .profile-container{
    //     &:nth-child(odd) {
    //         background-color: #323C50;
    //     }
    //     &:nth-child(even) {
    //         background-color: #2C3446;
    //     } 
    //     font-size: 1em;
    //     -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    //     -moz-box-shadow: 0 2px 2px -2px #0E1119;
    //     box-shadow: 0 2px 2px -2px #0E1119;
        
    // }
    .profile-title{
        display: inline-block;
        width :150px;
        font-weight: bold;
        color: #FB667A;
        height: 50px;
        line-height: 30px;
        padding: 10px;
    }
    .profile-content{
        font-weight: 300;
        display: inline-block;
        width :300px;
        height: 50px;
        line-height: 30px;
        padding: 10px;
    }
}

// Map
.map-container * {
    transition: none;
}
// .map-input {
//     width: 90%;
//     height: 40px;
//     padding: 10px;
//     box-shadow: none;
//     outline: none;
//     border: none;
//     margin: 10px auto;
//     -webkit-appearance:     none;
//     -webkit-appearance:     none;
//     -moz-appearance:        none;
//     -ms-appearance:         none;
//     -o-appearance:          none;
//     appearance:             none;
// }

//MyLoka
.my-loka-map{
    width: 100%; margin: 10px auto;
    min-width: 500px;
    @media (max-width: 592px){
        min-width: 300px;
    }
}