/* Landing Page */

.landing-inner {
  color: #fff;
  height: calc(100vh - 6.1rem);
  width: 80%;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}