.map-selection{ 
    width: 100%;
    // background-color: rgba($color: #fff, $alpha: 1) !important;
}
.hide-info-window{
    display: none;
}
.share-map-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .share-map-button {
        width: 100%;
        // background-color: rgba($color: #fff, $alpha: 1) !important;
    }
}