#dashboard{
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    width: 100%;
    >.left-section{
        width: 400px;
        height: calc(100vh - 130px);
        // position: relative;
    }
    >.right-section{
        // position: relative;
        flex-grow: 1;
        height: calc(100vh - 130px);
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 870px) {
        >.left-section{
            width: 100%;
            height: max-content;
        }
        >.right-section{
            width: 100%;
        }
        
    }
}