#map-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .map-selection{ 
        width: 100%;
        margin-top: 8px;
        background-color: rgba($color: #fff, $alpha: 0.1) !important;
        border-radius: 10px !important;
        .mdc-select__native-control{
            color: var(--mdc-theme-primary) !important;
        }
        .mdc-floating-label{
            color: var(--mdc-theme-primary) !important;
        }
    }
    .map-selection .dark{ 
        width: 100%;
        margin-top: 8px;
        // background-color: rgba($color: #fff, $alpha: 0.) !important;
        border-radius: 10px !important;
        .mdc-select__native-control{
            color: var(--primary-color) !important;
        }
        .mdc-floating-label{
            color: var(--primary-color) !important;
        }
    }
    >.left-section{
        width: calc(49% - 20px);
        height: calc(100vh - 150px);
        overflow: hidden;
        margin: 10px;
        position: relative;
    }
    >.right-section{
        height: calc(100vh - 150px);
        display: flex;
        flex-direction: column;
        width: calc(49% - 20px);
        margin: 0 10px;
        .map-wrapper{
            flex-grow: 1;
        }
    }
    @media screen and (max-width: 670px) {
        >.left-section{
            width: 100%;
            height: 50vh;
        }
        >.right-section{
            width: 100%;
        }
    }
}