.gm-style-iw-c{
    border-radius: 0 !important;
    max-width: 70vw !important;
    background-color: rgba($color: #ffffff, $alpha: 0.9) !important;
}
.gm-style-iw .gm-style-iw-c{
    border-radius: 0;
}