.group-content{
    font-weight: 100;
    margin: 10px;
    vertical-align: top;
    line-height: 1.5rem;
    padding-left: 15px;
    border-bottom: .5px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: calc(100% - 35px);
    float: right;
    * {
        transition: none;
    }
    &.button{
        cursor: pointer;
        // margin-right: '100px';
    }

    .edit-button{
        color: white;
        vertical-align: middle;
        float: right;
        padding: 10px;
        cursor: pointer;
    }
    .location-title{
        font-weight: bold;
    }
    .location-addr{
        font-size: 0.8rem;
    }
}