.location-card {
    * {
        transition: none;
    }
    &.group-content{
        margin: 10px;
        border-bottom: .5px solid rgba(255, 255, 255, 0.5);
        color: white;
        display: flex;
        flex-wrap: wrap;
        font-weight: 300;
        opacity: 0;
        width: calc(100% - 30px);
        &.button{
            cursor: pointer;
            // margin-right: '100px';
        }
        .right-section{
            line-height: 1.5rem;
            vertical-align: top;
            flex-grow: 1;
        }
        .edit-button{
            color: white;
            vertical-align: middle;
            float: right;
            padding: 10px;
            cursor: pointer;
        }
        .location-title{
            font-weight: 700;
        }
        .location-addr{
            font-size: 0.8rem;
        }
        .location-img{
            max-height: 300px;
            max-width: 300px;
        }
        &.location-clickable{
            cursor: pointer;
            &:hover{
                background-color: rgba($color: #ffffff, $alpha: 0.2);
            }
            transition: all 0.5s;
        }
        @media screen and (max-width: 960px) {
            .location-img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}