#other-group-list {
    width: 100%;
    color: white;
    height: 100%;
    position: relative;
    * {
        transition: none;
    }
    .title{
        // background: #0000002d;
        margin: 10px;
        min-height: 50px;
        vertical-align: top;
        line-height: 50px;
        padding-left: 20px;
        border-radius: 10px;
        color: var(--mdc-theme-primary);
        font-size: 1.2rem;
        font-weight: bold;
        // border: .5px solid var(--mdc-theme-primary);
        float: right;
        width: calc(100% - 35px);
        text-transform: uppercase;
    }
    .list-wrapper{
        display: flex;
        float: right;
        width: 100%;
        // justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .group-content{
        background: #0000002d;
        margin: 10px;
        min-height: 50px;
        vertical-align: top;
        padding-left: 15px;
        border-radius: 10px;
        border: .5px solid rgba(255, 255, 255, 0.5);
        color: white;
        width: calc(50% - 50px);
        float: right;
        &.button{
            cursor: pointer;
            // margin-right: '100px';
        }
    }
    .search-button{
        color: white;
        vertical-align: middle;
        float: right;
        padding: 10px;
        cursor: pointer;
    }
    .input-wrapper {
        width: calc(100% - 55px);
        float: left;
        border: none;
        border-bottom: solid 1px white;
        border-radius: 0;
        background:linear-gradient(to right,  rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
        margin-right: 25px;
    }
    input{
        background: none;
        border: none;
        box-shadow: none;
        width: calc(100% - 65px);
        height: 40px;
        margin: 0;
    }
    button{
        margin: none;
        background: none;
        border: none;
        box-shadow: none;
        width: calc(100% - 20px);
        outline: inherit;
        font: inherit;
        text-align: left;
        font-weight: 100;
    }
    @media screen and (max-width: 960px) {
        .button{
            width: 100%;
        }
    }
}